.Message{
    /* width: 80%; */
    margin: 0.5rem auto;
}

.Message__input{
    background: rgba(0, 0, 0, 0.8);;
    border-radius: 10px;
    width: 100%;
    padding: 1.5rem;
    border: 0;
    color: #fff;
    outline: 0;
}