
@import '../variables';

.Chats {
    flex: 1 1 0;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    height: 73vh;
    margin: 0 auto;
}

.Chat {
    margin: 1rem 0;
    color: #fff;
    padding: 1rem;
    background: linear-gradient(90deg, #1986d8, #7b9cc2);
    max-width: 90%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    word-break: break-word;
}

.Chat.is-user-msg {
    margin-left: auto;
    background: #2b2c33;
    border-radius: 10px 0 0 10px;
}

/* large device */
@media (min-width: $min-width){
    .Chat{
        max-width: 60%;
    }
}


.Chats::-webkit-scrollbar
    {
	    width: 12px;
    }

    .Chats:hover::-webkit-scrollbar-thumb
    {
	    border-radius: 10px;
	    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	    background-color: #555;
    }
