.Main{
    flex: 1 1 0;
    background-color: rgba(25,25,27,1);
    /* overflow-y: scroll; */
}

/* .Main::-webkit-scrollbar
    {
	    width: 12px;
    }

    .Main:hover::-webkit-scrollbar-thumb
    {
	    border-radius: 10px;
	    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	    background-color: #555;
    } */