$width: 80px;

.Sidebar {
    width: $width;
    background-color: rgba(32, 32, 35, 1);
    border-right: 1px solid rgba(189,189,192,0.1);
    transition: width 0.3s;
    
}

/* large devices*/

@media (min-width: 600px){
    .Sidebar{
        width: 350px;
        overflow-y: scroll;
    }

    .Sidebar::-webkit-scrollbar
    {
	    width: 12px;
    }

    .Sidebar::-webkit-scrollbar-thumb
    {
	    border-radius: 10px;
	    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	    background-color: #555;
    }
}



